<div style="text-align: center;">
  <div class="cyber-cabinet-address">
    <h2 style="cursor: pointer;" v-if="currentAccount" @click="goExplorer">
      <pretty-hex :hex="currentAccount.address"></pretty-hex>
    </h2>
  </div>

  <div class="cyber-cabinet-balance">
    <h1 style="cursor: pointer;" @click="getBalance" title="Update balance">{{balanceStr}} {{eul}}</h1>
  </div>

  <router-link :to="{name: 'cabinet-cyberd-save-and-link', query: {from: 'cabinet-cyberd'}}" tag="button" style="cursor: pointer;">Link</router-link>
  <router-link :to="{name: 'cabinet-cyberd-transfer', query: {from: 'cabinet-cyberd'}}" tag="button" style="cursor: pointer;">Send</router-link>

  <div>
    <h3>Bandwidth:</h3>
    <h2>
      {{bandwidth.remained}} / {{bandwidth.maxValue}}
    </h2>
  </div>

  <div>
    <h3>IPFS peers:</h3>
    <div v-if="peersError">IPFS node unavailable. Please check settings or your node availability.</div>
    <h2 v-else>{{ peersCount }}</h2>
  </div>

  <button style="border: 0; cursor: pointer;" @click="downloadPage" :disabled="peersError || peersLoading" title="Download page to IPFS">
    <i class="fas fa-file-download fa-2x"></i>
  </button>
  <router-link class="md-icon-button" :to="{name: 'cabinet-ipfs-saved-content'}" title="Saved content"><i class="fas fa-archive fa-2x"></i></router-link>
  <router-link class="md-icon-button" :to="{name: 'cabinet-settings'}" title="Settings"><i class="fas fa-cogs fa-2x"></i></router-link>
  <!-- <router-link class="md-icon-button" :to="{name: 'cabinet-backup'}" title="Backup"><i class="fas fa-database fa-2x"></i></router-link> -->
</div>
